/* Top Bar */
.top-bar {
    background-color: var(--secondary-darker-color);
    color: #fff;
    font-size: 0.85rem;
    padding: 8px 0;
}

.top-bar a {
    color: #fff;
    text-decoration: none;
    margin-left: 15px;
    transition: var(--transition);
}

.top-bar a:hover {
    color: var(--accent-color);
}
